body {
    font-family: 'Nunito', sans-serif;
}
nav a {
    padding: .5rem;
}

li {
    list-style-type: none;
    border: 1px solid;
    border-radius: 5px;
    background: antiquewhite;
    padding: 10px;
    margin: 5px;
}
li:hover{
    background: #f74747;
}

.smooth {
    background: white;
    border: 1px solid #dddddd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000000f;
}

.smooth input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Nunito';
}
.smooth label {
    display: inherit;
    font-size: .9rem;
    padding-bottom: 3px;
    color: #9d9d9d;
}
.smooth button {
    border: 1px solid #ddd;
    padding: 10px 25px;
    font-size: 1.1rem;
    margin: 10px 0;
    border-radius: 5px;
}
.form-error {
    margin: 0;
    font-size: .8rem;
    color: red;
}
.edit-btn {
    text-decoration: none;
    font-size: .8rem;
    color: lightblue;
}
.delete-btn {
    color: palevioletred;
    text-decoration: none;
    font-size: .8rem;
    background: none;
    padding: 0;
}
